services:
  web:
    build: .
    ports:
      - 5000:5000
    develop:
      watch:
        - action: sync
          path: .
          target: /usr/local/app

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml  # Bind mount the config file
    ports:
      - "9090:9090" 
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'  # Specify the config file location
    restart: unless-stopped
