name: CD
on:
    workflow_dispatch:
      inputs:
        debug:
          description: "Enable debug mode"
          required: false
          default: "false"
    pull_request:
        branches: [ staging, main ]
    push:
        branches: [ staging, main ]
env:
  IMAGE: ${{ vars.IMAGE }}:${{ github.sha }}
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Build docker image
              run: docker build -t ${{ env.IMAGE }} .
            - name: Run container
              run: docker run --rm -d -p 5000:5000 --name flask-app ${{ env.IMAGE }}
            - name: Test container
              run: |
                sleep 5
                curl --fail http://localhost:5000/hello 
            - name: Stop container
              run: docker stop flask-app
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Push to Docker Hub
              run: docker push ${{ env.IMAGE }}
    deploy:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up kubectl
              uses: azure/setup-kubectl@v3
              with:
                  version: 'latest'
            - name: Start minikube
              uses: medyagh/setup-minikube@latest
              with:
                driver: docker
            - name: Confirm cluster is running
              run: kubectl get nodes
            - name: Deploy to Minikube
              run: |
                envsubst < k8s/deployment.yaml | kubectl apply -f -
            - name: Debug cluster state
              if: ${{ inputs.debug == 'true' }}
              run: |
                sleep 10
                kubectl describe deployments/flask-deployment
                kubectl describe services/flask-service
                kubectl get rs
                kubectl rollout status deployment/flask-deployment
              timeout-minutes: 5
              continue-on-error: true
            - name: Access Service
              run: |
                sleep 20
                kubectl get svc flask-service
                port=$(kubectl get svc flask-service -o jsonpath='{.spec.ports[0].nodePort}')
                ip=$(minikube ip)
                curl --fail http://"$ip":"$port"/hello

