name: CI 
on:
    pull_request:
        branches:
            - main
    push:
        branches: [ feat/* , ci/*]

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.12.3'
            - name: Install dependencies
              run: |
                  python3 -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install -r requirements-dev.txt
            - name: Run linting tests
              run: flake8 flaskr/
            - name: Run unit tests
              run: python3 -m pytest 

    build:
        runs-on: ubuntu-latest
        needs: tests
        steps:
            - uses: actions/checkout@v4
            - name: build docker image
              run: docker build -t chamodide/flask-app:${{github.sha}} .
            - name: run container
              run: docker run --rm -d -p 5000:5000 --name flask-app chamodide/flask-app:${{github.sha}}
            - name: test container
              run: |
                sleep 5
                curl --fail http://localhost:5000/hello 
            - name: stop container
              run: docker stop flask-app
