name: CI 
on:
    workflow_dispatch:
    pull_request:
        branches: [ staging, main ]
    push:
        branches: [ staging, main, feat/* ]
jobs:
    linting:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.12.3'
            - name: Install dependencies
              run: |
                  python3 -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install -r requirements-dev.txt
            - name: Run linting tests
              run: flake8 flaskr/
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.12.3'
            - name: Install dependencies
              run: |
                  python3 -m pip install --upgrade pip
                  pip install -r requirements.txt
                  pip install -r requirements-dev.txt
            - name: Run unit tests
              run: python3 -m pytest 
    build:
        runs-on: ubuntu-latest
        needs: tests
        steps:
            - uses: actions/checkout@v4
            - name: Build docker image
              run: docker build -t chamodide/flask-app:${{github.sha}} .
